body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffffff 50%, #eb6a01 50%);
  font-family: Arial, sans-serif;
  color: rgb(49, 47, 47);
}

.card {
  width: 450px;
  height: 280px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  background: linear-gradient(135deg, #eb6a01 50%, #ffffff 50%);
  box-sizing: border-box;
  box-shadow: 0 0 50px rgb(0, 0, 0);
}

.frente {
  background-color: #e2e2e2;
}

.tras {
  transform: rotateY(180deg);
}

.card.virado {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .card {
    width: 350px;
    height: 220px; /* Corrigido: antes não tinha px */
  }

  .face {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
    height: auto; /* Agora não corta o conteúdo no celular */
    min-height: 250px;
  }

  .face {
    padding: 12px;
  }

  h2,
  h3 {
    font-size: 1.1rem;
  }

  p,
  address {
    font-size: 0.95rem;
  }

  #senai-logo {
    width: 100px;
  }
}

#senai-logo {
  position: absolute;
  width: 145px;
  right: 0;
  bottom: 0;
}

#iases,
#convida {
  color: white;
}

#vale {
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

#logo {
  position: absolute;
  width: 165px;
  right: 0;
  bottom: 0;
}

#patrocionio h2{
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

#patrocinios { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}